@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap');


:root{
    --content: 83, 83, 83;
}

*{
    padding: 0;
    margin: 0;
    font-family: Inter;

}
body{
  background:rgb(18, 14, 38);
}


main{   
 
        width: 100%;
        height: 100vh;
        background-image: url(../images/img.png),
            url(../images/img-1.png),
            linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
        background-repeat: no-repeat,
            no-repeat,
            no-repeat;
        background-position: bottom right,
            left,
            right;
      }

main h1{    
    display: flex;
    color:aliceblue;  
    text-align: center;
    font-family: "Inter",sans-serif;
    align-content: center;
    font-size: 50px;
    padding-top: 200px;
    justify-content: center;
}


main p{
    font-family: "Inter",sans-serif;
    padding: 30px 0px;
    font-size: 1.2rem;
    color: aliceblue;
    text-align: center;
}

main button{
    padding: 20px 40px;
    font-family: "Inter",sans-serif;
    font-size: 1.4rem;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 8px;
    color: aliceblue;
}

main .btn{
   display: flex;
   justify-content: center;
   margin: 40px 0px;
  
}

.Portfilo h3{
    margin-top: 20px;
    padding: 40px;
    color: aliceblue;
    font-family: "Inter",sans-serif;
    text-align: left;
}


.container {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  margin-block: 1rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(255, 58, 58, 0.1);
  background: #d35858;
  background: linear-gradient(to right, #69caf0, #ff7349);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.github{
    float: right;
    padding: 8px 15px;
    border: none;
    color: #f7f7f7;
    background: #f71e0f;
    font-family: "Inter",sans-serif;
}

.live{
    float: left;
    padding: 8px 15px;
    border: none;
    color: #ffffff;
    background: #3a98ef;
    font-family: "Inter",sans-serif;
}

.head{
    padding: 2px 8px;
    background: #f7f7f7;
    color: rgb(0, 0, 0);
    font-family: "Inter",sans-serif;
}


@media only screen and (max-width: 900px) {
    main{   
 
        width: 100%;
        height: 100vh;
        background-image: url(),
            url(),
            linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
        background-repeat: no-repeat,
            no-repeat,
            no-repeat;
        background-position: bottom right,
            left,
            right;
      }
  }



  .contact{
    margin-left: 10%;
    margin-right: 10%;
  }

  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    
  }
  .inner-card{
    display: flex;
  
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
    border-radius: 2rem;
    background-image: linear-gradient(to right, rgb(var(--content), 0), rgb(var(--content), .1));
    
    border: 2px solid rgb(30, 224, 224, .2);
  }
  .inner-card > img{
    margin: 5px;
    height: 10vh;
    
  }
  .inner-card > h3{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #ffffff;
    
  }

  .contact > h2{
    text-align: center;
    color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 2rem;

  }



  .card {
  --blur: 16px;
  --size: clamp(300px, 50vmin, 600px);
  width: var(--size);
  aspect-ratio: 4 / 3;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  color: #000;
  transform: translateZ(0);
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
  transition: transform 0.2s;
}

.card__footer {
  padding: 0 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: red;
  display: grid;
  gap: 0.5ch;
  background: hsl(0 0% 100% / 0.5);
  backdrop-filter: blur(var(--blur));
  height: 25%;
  align-content: center;
}

.card__action {
  position: absolute;
  aspect-ratio: 1;
  width: calc(var(--size) * 0.15);
  bottom: 30%;
  right: 1.5rem;
  transform: translateY(50%)
    translateY(
      calc(
        (var(--size) * 0.4)
      )
    )
    translateY(calc(var(--hover, 0) * (var(--size) * -0.4)));
  background: purple;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  background: hsl(0 0% 100% / 0.5);
/*   backdrop-filter: blur(calc(var(--blur) * 0.5)); */
  transition: transform 0.2s;
}

.card__action svg {
  aspect-ratio: 1;
  width: 50%;
}

.card__footer span:nth-of-type(1) {
  font-size: calc(var(--size) * 0.065);
}

.card__footer span:nth-of-type(2) {
  font-size: calc(var(--size) * 0.035);
}

.card:is(:hover, :focus-visible) {
  --hover: 1;
}